.overview {
    width: 100%;
}

.overview_content {
    padding: 20px 30px;
}

.blog_view, .subscriber_view {
    display: grid;
    gap: 10px;
    background: var(--accentColor);
    padding: 10px;
    border-radius: 10px;
}

.blog_view:nth-child(2), .subscriber_view {
    margin-top: 20px;
}

.blog_view_head, .sub_view_head {
    padding: 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primaryColor);
}

.add_blog button, .view button {
    width: 130px;
    height: 35px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--secondaryColor);
}

.blog_view_details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transition: flex-wrap .7s;
}

.noItem {
    width: 100%;
    height: 100px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}