.detail_dash {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    transition: all .7s;
}

.detail_dash:hover {
    box-shadow: 0 0 4px black;
}

.blog_image {
    width: 100%;
    height: fit-content;
}

.blog_image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog_info {
    margin-top: auto;
}

.blog_title h3 {
    font-size: 16px;
}

.blog_title span {
    font-size: 14px;
}

.blog_summary p {
    font-size: 12px;
}