.footer_list {
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
}

.foot_contact, .foot_pages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foot_pages a {
    color: #000000;
}

.foot_social {
    display: flex;
    gap: 15px;
}

.foot_social a {
    font-size: 25px;
    color: #000000;
}

@media (max-width: 768px) {
    .footer_list {
        padding: 4rem 2rem;
        flex-direction: column;
        gap: 35px;
    }
}